<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Description" content="Libraries in the digital age 2012">
<meta name="Keywords" content="digital, digital libraries, digital age, millennium, Croatia, Hrvatska">
<title>Libraries in the digital age</title>
<link href="{LOCAL}/lib/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="960" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="79">
      <table width="760" height="79" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="{LOCAL}/slike/top_01.jpg" alt="" width="483" height="56"></td>
          <td><div align="right"><img src="{LOCAL}/slike/top_02.jpg" alt="" width="477" height="56"></div></td>
        </tr>
        <tr>
          <td><img src="{LOCAL}/slike/top_03.jpg" alt="" width="483" height="23"></td>
          <td><img src="{LOCAL}/slike/top_04.jpg" alt="" width="477" height="23"></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="200" valign="top" background="{LOCAL}/slike/left_background.jpg">
		<!-- BEGIN lijevi_meni_blok -->
		<!-- END lijevi_meni_blok -->		</td>
        <td width="1" background="{LOCAL}/slike/dot_vert.gif"></td>
        <td valign="top" style="padding-left:20px; padding-top:10px; padding-right:10px; padding-bottom:10;">
		<!-- BEGIN body_blok -->
		<!-- END body_blok -->
		
		</td>
        <td width="1" align="center" valign="top" background="{LOCAL}/slike/dot_vert.gif"></td>
        <td width="150" align="center" valign="top" background="{LOCAL}/slike/right_background.jpg"><p><b>          <img src="{LOCAL}/slike/zadar.jpg" alt="" width="150" height="84" /><img src="{LOCAL}/slike/zadar_sveuciliste.jpg" alt="" width="150" height="113" border="0" /><img src="{LOCAL}/slike/iuc.jpg" alt="" width="150" height="89" border="0" /><br>
 <br>
<!--<a href="{LOCAL}/sponsors"><img src="{LOCAL}/slike/sponsors_2.gif" alt="" width="150" height="32" border="0" /></a><br>
-->          </b>
		  </p>          
          <table width="100%"  border="0" cellpadding="0" cellspacing="0" >
            <tr valign="baseline">
              <td height="17" colspan="2"><div align="center"><b>Previous LIDAs</b></div></td>
              </tr>
            <tr valign="baseline">
              <td height="1" colspan="2" background="{LOCAL}/slike/dot_horiz.gif"></td>
            </tr>
            <tr valign="baseline">
              <td height="3" colspan="2"></td>
            </tr>
            <tr valign="baseline">
              <td height="1" colspan="2" background="{LOCAL}/slike/dot_horiz.gif"></td>
            </tr>
            <tr valign="baseline">
              <td height="17"><div align="right"><img src="{LOCAL}/slike/arrow.gif" width="7" height="7" hspace="2"></div></td>
              <td><b><a class="meni" href="http://www.ffos.hr/lida/lida2010">LIDA 2010</a> </b></td>
            </tr>            
            <tr valign="baseline">
              <td height="1" colspan="2" background="{LOCAL}/slike/dot_horiz.gif"></td>
            </tr>
            <tr valign="baseline">
              <td height="17"><div align="right"><img src="{LOCAL}/slike/arrow.gif" width="7" height="7" hspace="2"></div></td>
              <td><b><a class="meni" href="http://www.ffos.hr/lida/lida2009">LIDA 2009</a> </b></td>
            </tr>            
            <tr valign="baseline">
              <td height="1" colspan="2" background="{LOCAL}/slike/dot_horiz.gif"></td>
            </tr>
            <tr valign="baseline">
              <td height="17"><div align="right"><img src="{LOCAL}/slike/arrow.gif" width="7" height="7" hspace="2"></div></td>
              <td><b><a class="meni" href="http://www.ffos.hr/lida/lida2008">LIDA 2008</a> </b></td>
            </tr>            <tr valign="baseline">
              <td height="1" colspan="2" background="{LOCAL}/slike/dot_horiz.gif"></td>
            </tr>
            <tr valign="baseline">
              <td height="17"><div align="right"><img src="{LOCAL}/slike/arrow.gif" width="7" height="7" hspace="2"></div></td>
              <td><b><a class="meni" href="http://www.ffos.hr/lida/lida2007">LIDA 2007</a> </b></td>
            </tr>            <tr valign="baseline">
              <td height="1" colspan="2" background="{LOCAL}/slike/dot_horiz.gif"></td>
            </tr>
            <tr valign="baseline">
              <td height="17"><div align="right"><img src="{LOCAL}/slike/arrow.gif" width="7" height="7" hspace="2"></div></td>
              <td><b><a class="meni" href="http://www.ffos.hr/lida/lida2006">LIDA 2006</a> </b></td>
            </tr>
            <tr valign="baseline">
              <td height="1" colspan="2" background="{LOCAL}/slike/dot_horiz.gif"></td>
            </tr>            <tr valign="baseline">
              <td height="17"><div align="right"><img src="{LOCAL}/slike/arrow.gif" width="7" height="7" hspace="2"></div></td>
              <td><b><a class="meni" href="http://www.ffos.hr/lida/lida2005">LIDA 2005</a> </b></td>
            </tr>
            <tr valign="baseline">
              <td height="1" colspan="2" background="{LOCAL}/slike/dot_horiz.gif"></td>
            </tr>
            <tr valign="baseline">
              <td width="38" height="17"><div align="right"><img src="{LOCAL}/slike/arrow.gif" width="7" height="7" hspace="2"></div></td>
              <td width="112"><b><a class="meni" href="http://www.ffos.hr/lida/lida2004">LIDA 2004</a> </b></td>
            </tr>
            <tr valign="baseline">
              <td height="1" colspan="2" background="{LOCAL}/slike/dot_horiz.gif"></td>
            </tr>
            <tr valign="baseline">
              <td height="17"><div align="right"><img src="{LOCAL}/slike/arrow.gif" width="7" height="7" hspace="2"></div></td>
              <td><b><a class="meni" href="http://www.ffos.hr/lida/lida2003">LIDA 2003</a></b></td>
            </tr>
            <tr valign="baseline">
              <td height="1" colspan="2" background="{LOCAL}/slike/dot_horiz.gif"></td>
            </tr>
            <tr valign="baseline">
              <td height="17"><div align="right"><img src="{LOCAL}/slike/arrow.gif" width="7" height="7" hspace="2"></div></td>
              <td><b><a class="meni" href="http://www.ffzg.hr/infoz/lida/lida2002">LIDA 2002</a></b></td>
            </tr>
            <tr valign="baseline">
              <td height="1" colspan="2" background="{LOCAL}/slike/dot_horiz.gif"></td>
            </tr>
            <tr valign="baseline">
              <td height="17"><div align="right"><img src="{LOCAL}/slike/arrow.gif" width="7" height="7" hspace="2"></div></td>
              <td><b><a class="meni" href="http://www.ffzg.hr/infoz/lida/lida2001">LIDA 2001</a></b></td>
            </tr>
            <tr valign="baseline">
              <td height="1" colspan="2" background="{LOCAL}/slike/dot_horiz.gif"></td>
            </tr>
            <tr valign="baseline">
              <td height="17"><div align="right"><img src="{LOCAL}/slike/arrow.gif" width="7" height="7" hspace="2"></div></td>
              <td><b><a class="meni" href="http://www.ffzg.hr/infoz/lida/lida2000">LIDA 2000</a></b></td>
            </tr>
            <tr valign="baseline">
              <td height="1" colspan="2" background="{LOCAL}/slike/dot_horiz.gif"></td>
            </tr>
          </table>
          <p><b><br>
          </b></p></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="1" background="{LOCAL}/slike/dot_horiz.gif"></td>
  </tr>
  <tr>
    <td height="15" background="{LOCAL}/slike/footer_background.gif">
        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr class="footer">
            <td width="150">&nbsp;</td>
            <td><div align="center">Last revised: {MODIFIED}</div></td>
            <td width="150"><div align="center"><a href="mailto:boris.badurina@inet.hr" class="light">webmaster</a></div></td>
          </tr>
        </table> 
    </td>
  </tr>
</table>
</body>
</html>
