<ul class="nav navbar-nav navbar-right">
	<li>
    	<a href="{LOCAL}/"><br /><br />Home</a>
    </li>
	<li>
    	<a href="{LOCAL}/speakers">Speakers</a>
    </li>
<!--    <li>
       <a href="{LOCAL}/news"><br /><br />News</a>
    </li>
-->

<!--	<li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">
            <br /><br />Program <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{LOCAL}/program">Program</a></li>
            <li><a href="{LOCAL}/speakers">Speakers</a></li>
            
            <li><a href="{LOCAL}/awards">Student Showcase</a></li>
        </ul>
    </li>-->
<!--<li><a href="{LOCAL}/sponsors"><br /><br />Sponsors</a></li>-->
	<li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">
           <br /><br />Submissions <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
           <li><a href="{LOCAL}/datoteke/2023/LIDA_2023_CfP.pdf">Call for papers</a></li>
             <!--<li><a href="{LOCAL}/datoteke/2020/LIDA_2021_CfP_short.pdf">Call for papers (short)</a></li>
           <li><a href="{LOCAL}/sponsors/SPONSORSHIP_FORM_LIDA_2021.pdf">Sponsorship form</a></li>-->
           <!--  <li><a href="{LOCAL}/call-for-phd-forum">Call for PhD Forum</a></li>-->
            <li><a href="{LOCAL}/themes">Contribution Themes</a></li>
            <li><a href="{LOCAL}/contribution">Types of contribution</a></li>
            <li><a href="{LOCAL}/deadlines">Deadlines</a></li>
           <!--<li><a href="{LOCAL}/submissions">Submissions</a></li>-->
<!--             <li><a href="{LOCAL}/poster-guidelines">Poster guidelines</a></li>
            <li><a href="{LOCAL}/proceedings">Proceedings</a></li>
-->        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">
            <br /><br />Conference <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
	           <!--<li><a href="{LOCAL}/fees">Fees & registration</a></li>-->
	           <li><a href="{LOCAL}/venues">Venues</a></li>
            <!--<li><a href="{LOCAL}/accomodation">Accomodation</a></li>-->
            <!--<li><a href="{LOCAL}/travel">Travel information</a></li>-->
            <li><a href="{LOCAL}/organization">Organization</a></li>
        </ul>
    </li>
<!--    <li>
        <a href="{LOCAL}/contact"><br /><br />Contact</a>
    </li>
-->    

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">
            <br /><br />Previous <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="https://meduza.carnet.hr/index.php/media/videos?query=lida">LIDA video</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2021">2021</a></li>            
            <li><a href="{ABSOLUTE_LOCAL}/2018">2018</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2016">2016</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2014">2014</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2012">2012</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2010">2010</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2009">2009</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2008">2008</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2007">2007</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2006">2006</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2005">2005</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2004">2004</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2003">2003</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2002">2002</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2001">2001</a></li>
            <li><a href="{ABSOLUTE_LOCAL}/2000">2000</a></li>
        </ul>
    </li>
</ul>