<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Description" content="Libraries in the digital age 2014">
<meta name="Keywords" content="digital, digital libraries, digital age, millennium, Dubrovnik, Croatia, Hrvatska">
<title>Libraries in the digital age</title>
<link href="{LOCAL}/lib/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="610" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="35"><img src="{LOCAL}/slike/top_printable_01.gif" alt="" width="197" height="35"></td>
    <td><div align="right"><img src="{LOCAL}/slike/top_printable_02.gif" alt="" width="171" height="35"></div></td>
  </tr>
  <tr>
    <td height="10" colspan="2"><hr></td>
  </tr>
  <tr>
    <td colspan="2" valign="top">
	    <!-- BEGIN body_blok -->
	    <!-- END body_blok -->
	</td>
  </tr>
  <tr>
    <td height="15" colspan="2" ><hr></td>
  </tr>
</table>
</body>
</html>
