<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Description" content="Libraries in the digital age 2014">
<meta name="Keywords" content="digital, digital libraries, digital age, millennium, Croatia, Hrvatska">
<title>Libraries in the digital age</title>
<link href="{LOCAL}/lib/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="960" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="79">
      <table width="760" height="79" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="{LOCAL}/slike/top_01.jpg" alt="" width="483" height="56"></td>
          <td><div align="right"><img src="{LOCAL}/slike/top_02.jpg" alt="" width="477" height="56"></div></td>
        </tr>
        <tr>
          <td><img src="{LOCAL}/slike/top_03.jpg" alt="" width="483" height="23"></td>
          <td><img src="{LOCAL}/slike/top_04.jpg" alt="" width="477" height="23"></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top" style="padding-left:20px; padding-top:10px; padding-right:10px; padding-bottom:10;">
		<!-- BEGIN body_blok -->
		<!-- END body_blok -->
		</td>
        <td width="1" background="{LOCAL}/slike/dot_vert.gif"></td>
        <td width="200" valign="top" background="{LOCAL}/slike/left_background.jpg">
		<!-- BEGIN lijevi_meni_blok -->
		<!-- END lijevi_meni_blok -->
		
		</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="1" background="{LOCAL}/slike/dot_horiz.gif"></td>
  </tr>
  <tr>
    <td height="15" background="{LOCAL}/slike/footer_background.gif">
        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr class="footer">
            <td width="150">&nbsp;</td>
            <td><div align="center"></div></td>
            <td width="150"><div align="center"><a href="mailto:boris.badurina@inet.hr" class="light">webmaster</a></div></td>
          </tr>
        </table> 
        </td>
  </tr>
</table>
</body>
</html>
